.form-control{
	width: 30%;
}

.drop{
  background-color: gray;
  color: white;
  padding: 6px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn btn-primary{
  background-color: gray;
  color: white;
  padding: 5px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

